
* {
  box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-size: 62.5%; /* equivalente a 10px */
}

body {
  background: url("../images/sarten.jpg");
  background-repeat: no-repeat;
  background-size: cover;}

h1 {
	font-size: 2.8rem;
  font-family: 'Limelight', cursive;
}

h3 {
  color:#E8E8E6;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 2rem;}

header {
  background-color: #211F1E;
  text-align: center;
  color: white;
  margin-top: 2rem;
}

nav{
  background: #44443B;
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;}

a{
  color:#E8E8E6;
  font-weight: bolder;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;}

nav ul li{
  display: inline-block;
  margin: 2rem;}

ul{
  text-align: center;}

a:hover{
    color:black;
    border: #ff7a59 solid 1px;
    background:#fff;}

img{
  margin-left: 45%;
  border-radius: 50%;
  margin-top: 4rem;
margin-bottom: 4rem;
width: 10%;
height: 10%;  }

h2{
  text-align: center;
  font-size:2rem;}

p {
  color: white;
  font-size: 1.6rem;}

section::after {
  content: "";
  display: table;
  clear: both;
  }

  /* Style the footer */
footer {
    background-color: #44443B;
    text-align:center;
    color: white;
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 2rem;}


@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
